<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="COMName" value="COM4"/>
    <add key="COMBaud" value="115200"/>
    <add key="localIp" value="127.0.0.1"/>
    <add key="localPort" value="62000"/>
    <add key="remoteIp" value="127.0.0.1"/>
    <add key="remotePort" value="61000"/>
    <add key="car1IP" value="127.0.0.1"/>
    <add key="car1Port" value="10000"/>
    <add key="car1SN" value="HiSU130021040006"/>
    <add key="car2IP" value="127.0.0.1"/>
    <add key="car2Port" value="10000"/>
    <add key="car2SN" value="HiSU130021040011"/>
    <add key="car3IP" value="127.0.0.1"/>
    <add key="car3Port" value="10000"/>
    <add key="car3SN" value="HiSU130021040007"/>
    <add key="videoIp" value="222.240.49.4"/>
    <add key="videoPort" value="14000"/>
    <add key="canUdpIp" value="222.240.49.4"/>
    <add key="canUdpPort" value="60004"/>
    <!--<add key="keyControllerIp" value="172.16.41.75"/>-->
    <add key="keyControllerIp" value="127.0.0.1"/>
    <!--MQTT参数配置-->
    <add key="MQTTServerIp" value="222.240.49.5"/>
    <add key="MQTTServerPort" value="1884"/>
    <!--<add key="MQTTServerIp" value="127.0.0.1" />
    <add key="MQTTServerPort" value="1883" />-->
    <add key="enableTlsCa" value="true"/>
    <add key="caFilePath" value="./certificate.pfx"/>
    <add key="rightline" value="1370,786;1284,521.884444444444;1208,288.48;1145,95;"/>
    <add key="leftline" value="733,787;797.333333333333,533.406976744186;859.666666666667,287.697674418605;905,109;"/>
    <add key="isEdit" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
